&-indicators{
  bottom: 10px;
  left: 50%;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    .lightenOrDarken(@control-color,10%);
    border: 1px solid average(@control-color,@returnLightenOrDarken);
    border-radius: 10px;
    &.active{
      width: 12px;
      height: 12px;
      margin: 0;
      .lightenOrDarken(@control-color,10%);
      #gradient.gradient(@control-color,average(@control-color,@returnLightenOrDarken),@returnLightenOrDarken);

    }
  }

}
//** slump controll **/
.slumps-control{
  display: block;
  height: 100%;
  width: 10%;
  bottom: 0px;
  //prev icon
  &.prev{
    left: 0px;
    right: auto;
    a{
      float: left;
      @media @phone {
        padding: 6px 6px 6px 3px;
        font-size: 12px;
        margin-top: -5px;
      }
      @media @tablet {
        padding: 12px 12px 12px 3px;
        font-size: 12px;
        margin-top: -5px;
      }
      padding: 20px 20px 20px 10px;
      .border-radius(50px, 50px, 0, 0);
    }
  }
  //next icon
  &.next{
    left: auto;
    right: 0px;
    a{
      float: right;
      @media @phone {
        padding: 6px 3px 6px 6px;
        font-size: 12px;
        margin-top: -5px;
      }
      @media @tablet {
        padding: 12px 6px 12px 12px;
        font-size: 13px;
        margin-top: -5px;
      }
      padding: 20px 10px 20px 20px;
      .border-radius(0, 0, 50px, 50px);
  }
}
  a{
    text-decoration: none;
    .lightenOrDarken(@control-color,27%);
    color: @returnLightenOrDarken;
    font-size: 16px;
    position: relative;
    top: 40%;
    margin-top: -20px;
    text-align: center;
    &{
      .lightenOrDarken(@control-color,10%);
      #gradient.gradient(@control-color,average(@control-color,@returnLightenOrDarken),@returnLightenOrDarken);
    }
  }
  i{
    &.slumps-prev{
      .icon-left();
    }
    &.slumps-next{
      .icon-right();
    }
  }
}

//** both control and indicator **//
&-indicators, .slumps-control{
    position: absolute;
    z-index: @base-z-index+5;
}
//** HOVER INDICATORS EFFECT **//

//on hover
&:hover,&:focus, &[data-slums-touched="1"]{
  & .slumps-indicators  li, .slumps-control a{
    .hover(.5,0,@control-transition-in-time);
  }
}

//on out hover
&-indicators li, .slumps-control a{
  .hover(0,.5,@control-transition-out-time);
}

.slumps-control a{
  &:hover, &:focus{
      .hover(1,0,@control-transition-in-time);
  }
}
.slumps-indicators > li{
  &:hover, &:focus{
    .hover(1,0,@control-transition-in-time);
    .lightenOrDarken(@control-color,10%);
     #gradient.gradient(@control-color,average(@control-color,@returnLightenOrDarken),@returnLightenOrDarken);
  }
}

&-inner{

}